# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# venv
/venv/
/.venv/
/Include/
/Lib/
/Scripts/
/pyvenv.cfg
